version: "3.3"

services:
  db:
    image: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: app-template
      MYSQL_USER: app-template
      MYSQL_PASSWORD: app-template
    ports:
      - "3306:3306"
    volumes:
      - mydb:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      timeout: 1s
      retries: 10
  api:
    build: ./api
    ports:
      - "8081:8080"
    environment:
      - DB_URL=app-template:app-template@tcp(db:3306)/app-template?parseTime=true
    depends_on:
      db:
        condition: service_healthy
volumes:
  mydb:
